table{
  margin-top: 100px;
  margin-left: 25px;
  width: 750px;
}

#updateform{
  width: 750px;
  height: 330px;
  background-color: #f2f2f2;
  margin-left: 800px;
  margin-top: -50px;
}
form{
  width: 750px;
}
.form-group{
  width: 75%;
  margin-left: 25px;

}
button{
  margin-left: 25px;
}
h3{
  padding-top: 10px;
  margin-bottom: 25px;
  margin-left: 25px;
}
